{% extends 'base.html' %}
{% load static %}
{% block content %}

          <!-- NAVBAR -->

     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div style="margin-bottom: 50px" class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="{% url 'home' %}" class="navbar-brand">Купи <span>.</span> Поесть</a>
               </div>

               <!-- MENU LINKS -->
               <div style="display: flex; width:1200px; height: auto" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="/home" class="smoothScroll">Домой</a></li>
                        {% if request.user.is_authenticated and request.user.is_superuser %}
                         <li><a href="{% url 'create_dish' %}" class="smoothScroll">Добавить блюдо</a></li>
                        {% endif %}
                         <li><a href="#" class="smoothScroll">Меню</a></li>

                    <!-- tag for whole searchbar -->

                    <form style="display: flex; margin-top:9px ;margin-left:30px" class="d-flex" method="get" action="{% url 'search' %}">

                    <input name="q" class="form-control me-2" type="search" placeholder="что поесть?" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>

<!--                    End Searchbar -->

                   <script src="js/extention/choices.js"></script>
                   <script>
                     const choices = new Choices('[data-trigger]',
                     {
                       searchEnabled: false,
                       itemSelectText: '',
                     });

                   </script>
                   </li>

                    </ul>
     <!-- is Authenticated   -->
      {% if user.is_authenticated %}

        <div style="display: flex; margin-left:20px; " class="nav navbar-nav navbar-right">
        <a href="{% url 'cart_detail' %}"><img style="width: 30px ;height: auto; margin-top: 10px; margin-right: 20px" src="{% static 'cart/carts.png' %}" ></a>


        <li><a class="smoothScroll" href="{% url 'logout' %}">Выйти</a></li>
        <li><a class="smoothScroll" href="#">Привет, {{user.username}}</a></li>
        </div>

      {% else %}
      <div class="nav navbar-nav navbar-right">
      <li><a class="smoothScroll" href="{% url 'register' %}">Зарегистрироваться</a></li>
      <li><a class="smoothScroll" href="{% url 'login' %}">Войти</a></li>
      </div>

      {% endif %}
      <!-- End is Authenticated  -->
        </div>

          </div>
     </section>
          </div>



     <!-- HOME -->
     <section id="home" class="slider" data-stellar-background-ratio="0.5">
          <div class="row">

                    <div class="owl-carousel owl-theme">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-8 col-sm-12">
                                             <h3>Bishkek Food &amp; Delivery</h3>
                                             <h1>Лучшие кухни города на любой вкус!</h1>
                                             <a href="#menu1" class="section-btn btn btn-default smoothScroll">Заказать</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>

<!--  MENU-->

    <div style="background-image: {{ menu_backgroundimg.jpeg }}">
     <section id="menu" data-stellar-background-ratio="0.5">
          <div class="container">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
              {% for category in categories %}
                   <div style="display: flex; text-align: center; align-items: center; margin:15px" class="card" style="width: 150rem;" align="center">

                          <a href="{% url 'list' category.slug %}"><br>
                               <h4>{{ category.name }}</h4>
                               <img src="{{ category.image.url }}" alt="" style="width: 250px; height: auto;"><br>
                               <br>
                          </a>
                          {% endfor %}
                   </div>
                </div>
          </div>
     </section>
     </div>


 <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-8">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2 class="wow fadeInUp" data-wow-delay="0.2s">Find us</h2>
                              </div>
                              <address class="wow fadeInUp" data-wow-delay="0.4s">
                                   <p>123 nulla a cursus rhoncus,<br> augue sem viverra 10870<br>id ultricies sapien</p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-8">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2 class="wow fadeInUp" data-wow-delay="0.2s">Reservation</h2>
                              </div>
                              <address class="wow fadeInUp" data-wow-delay="0.4s">
                                   <p>090-080-0650 | 090-070-0430</p>
                                   <p><a href="mailto:info@company.com">info@company.com</a></p>
                                   <p>LINE: eatery247 </p>
                              </address>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-8">
                         <div class="footer-info footer-open-hour">
                              <div class="section-title">
                                   <h2 class="wow fadeInUp" data-wow-delay="0.2s">Open Hours</h2>
                              </div>
                              <div class="wow fadeInUp" data-wow-delay="0.4s">
                                   <p>Monday: Closed</p>
                                   <div>
                                        <strong>Tuesday to Friday</strong>
                                        <p>7:00 AM - 9:00 PM</p>
                                   </div>
                                   <div>
                                        <strong>Saturday - Sunday</strong>
                                        <p>11:00 AM - 10:00 PM</p>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <ul class="wow fadeInUp social-icon" data-wow-delay="0.4s">
                              <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                              <li><a href="#" class="fa fa-twitter"></a></li>
                              <li><a href="#" class="fa fa-instagram"></a></li>
                              <li><a href="#" class="fa fa-google"></a></li>
                         </ul>

                         <div class="wow fadeInUp copyright-text" data-wow-delay="0.8s">
                              <p><br>Copyright &copy; 2018 <br>Your Company Name

                              <br><br>Design: <a rel="nofollow" href="http://templatemo.com" target="_parent">TemplateMo</a></p>
                         </div>
                    </div>

               </div>
          </div>
     </footer>

{% endblock %}
